##############################################
# Alles ignorieren                               # * bedeutet alles
##############################################
*

##############################################
# Verzeichnisse wieder erlauben
##############################################
!*/

##############################################
# Ordner ignorieren
##############################################
# /.Releases/
# *.Releases/
# !*/.Releases/
# /.aLT/
# *.aLT/
# !*/.aLT/

##############################################
# Verzeichnisse wieder erlauben                  # !*/Unterordner/
##############################################
!*/.github/ISSUE_TEMPLATE/
!*/.github/workflows/
!*/assets/Game-Bilder/


##############################################
# Ausnahme: diese Dateien NICHT ignorieren
##############################################
# Beispiel:
# - für Dateien in Unterordnern                  # !/Pfad/zur/Datein.txt
# - für einzelne Dateien                         # !Datein.txt
##############################################
!/.github/ISSUE_TEMPLATE/bug_report.md
!/.github/ISSUE_TEMPLATE/feature_request.md
!/.github/ISSUE_TEMPLATE/idea.md
!/.github/ISSUE_TEMPLATE/task.md
!/.github/PULL_REQUEST_TEMPLATE.md
!/.gitattributes
!/.gitignore
!/assets/apple-touch-icon.png
!/assets/play_a_game-favicon-32x32.png
!/assets/play_a_game-favicon.png
!/assets/Game-Bilder/moorhuhn-favicon.png
!/index.html
!/LICENSE
!/README.md
!/script.js
!/style.css

